<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Planning poker</title>
</head>
<body ng-app="main-app">
<header>
    <h1>Planning poker</h1>
</header>

<div class="main" ng-controller="MainController" role="main">
    <button class="flip_cards_btn" ng-click="flipCards()">Vänd korten!</button>

    <div class="player_section">
        <div class="player_box" ng-repeat="cards in player_attr">
            <div class="cardOnHand" ng-click="pickPlayer($index)">
                <p>{{ cards.name }}</p>
            </div>
        </div>
    </div>

    <div class="cardOnTable_section">
        <div class="cardOnTable_box effect_click" ng-repeat="cards in player_attr" ng-click="pickPlayer($index)">
            <div class="cardOnTable_front"  ng-click="pickPlayer($index)">
                <p>Front</p>
            </div>
            <div class="cardOnTable_back">
                <p>{{ cards.card }}</p>
            </div>
        </div>
    </div>

    <div class="pick_card_section">
        <div class="cards_in_deck" ng-repeat="deck_cards in deck">
            <p ng-click="pickCard()"> {{ deck_cards }} </p>
        </div>
    </div>

</div>
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/angular/angular.js"></script>
<script src="scripts/main.js"></script>
<script src="scripts/MainController.js"></script>
</body>
</html>