body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Gill Sans";

}

.main, .cardOnTable_section, .cardOnTable_box {
  position: relative;
}

.main {
}

header {
  padding-left: 30px;
}

h1 {
  color: $blue;
}


// BUTTON FOR FLIPPING CARDS WHEN ALL PLAYERS ARE READY
button.flip_cards_btn, button.new_round_btn, p.pick_cards_msg {
  position: absolute;
  right: 30px;
  top: 0px;
  background: $blue;
  border-radius: 15px;
  border:none;
  border-spacing: 0;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  list-style: none outside none;
  margin: 0;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  outline: none;
  box-shadow: 0 0.5px 1px #333;
}

p.pick_cards_msg {
  background: white;
  color: $blue;
  border: 2px $blue;
  box-shadow: inset 0 -0.5px 1px #444;
  cursor: default;
}



button.flip_cards_btn:hover, button.new_round_btn:hover {
  cursor: pointer;
  background: #1f94a5;
}

button.flip_cards_btn:active {
  background: $blue;
}

//
.player_section {
  margin: 0 auto;
  padding: 1% 5%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  background: grey;
}

.player_box {
  margin: 0;
  padding: 0;
}

.player_section span {
  font-style: italic;
}

p.player_name {
  text-transform: uppercase;
}

.cardOnHand {
  margin: 10px;
  padding: 5px;
  width: 60px;
  height: 100px;

  background: $blue;
  text-align: center;
  border-radius: 5px;
  border-top: 4px solid #1f94a5;
  border-right: 4px solid #1f94a5;
  transition: all 1s ease;
  box-shadow: 0 0.5px 1px #333;


}

.cardOnHand:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.cardOnTable_section {
  margin: 0;
  padding: 1% 5%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background: darkgrey;
}

.cardOnTable_box {
  position: relative;
  margin: 10px;
  padding: 5px;
  width: 60px;
  height: 100px;

  text-align: center;

}

.cardOnTable_box:hover {
  cursor: pointer;

}

.pick_card_section {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

}

.cards_in_deck {
  margin: 10px;
  padding: 10px;
  width: 60px;
  height: 100px;

  background: beige;
  border-radius: 5px;
  //border: 2px solid $blue;
  text-align: center;
  align-self: flex-end;
  transition: all 1s ease;
  box-shadow: 0 0.5px 1px #333;
}

.cards_in_deck:hover {
  transform: scale(1.04);
  cursor: pointer;
}

// PLAYER NAME FORM

.player_name_form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  text-align: center;

  display: none;
}

.player_name_form form {
  position: relative;
  top: 30%;
  left: 0;
  right: 0;
  display: inline-block;
  margin: 0;
  padding: 25px;
  background: $blue;
  border-radius: 15px;
  box-shadow: 0 1px 3px #444;
}

.player_name_form form input[type=text] {
  display: inline;
  color: $blue;
  background: white;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  border:none;
  outline: none;

  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-spacing: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  list-style: none outside none;
  margin: 0;
  padding: 10px 15px;
  text-align: center;
  transition: all 0.5s ease;
}

.player_name_form form input[type=text]:hover {
  box-shadow: inset 0 -2px 1px #CCC;
}

.player_name_form form input[type=submit] {
  color: white;
  background: #444;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  border:none;
  outline: none;

  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-spacing: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  list-style: none outside none;
  margin: 0;
  padding: 10px 15px;
  text-align: center;
  text-indent: 0;
  //box-shadow: 0 0.5px 1px #333;
  transition: all 0.5s ease;
}

.player_name_form form input[type=submit]:hover {
  color: #444;
  background: white;
}


// FLIP CARDS ON BUTTON CLICK

.cardOnTable_back, .cardOnTable_front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0.5px 1px #333;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

.cardOnTable_front {
  background: $blue;
}

.cardOnTable_front:hover {
  background: #1f94a5;
}

.cardOnTable_back {
  background-color: beige;


  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.cardOnTable_box.effect_click.flipped .cardOnTable_front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}


.cardOnTable_box.effect_click.flipped .cardOnTable_back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.cardOnTable_back, .cardOnTable_front {
  display: none;
}
