@import url(normalizer.css);
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Gill Sans"; }

.main, .cardOnTable_section, .cardOnTable_box {
  position: relative; }

header {
  padding-left: 30px; }

h1 {
  color: #24a2b5; }

button.flip_cards_btn, button.new_round_btn, p.pick_cards_msg {
  position: absolute;
  right: 30px;
  top: 0px;
  background: #24a2b5;
  border-radius: 15px;
  border: none;
  border-spacing: 0;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  list-style: none outside none;
  margin: 0;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  outline: none;
  box-shadow: 0 0.5px 1px #333; }

p.pick_cards_msg {
  background: white;
  color: #24a2b5;
  border: 2px #24a2b5;
  box-shadow: inset 0 -0.5px 1px #333;
  cursor: default; }

button.flip_cards_btn:hover, button.new_round_btn:hover {
  cursor: pointer;
  background: #1f94a5; }

button.flip_cards_btn:active {
  background: #24a2b5; }

.player_section {
  margin: 0 auto;
  padding: 1% 5%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  background: grey; }

.player_box {
  margin: 0;
  padding: 0; }

.player_section span {
  font-style: italic; }

.cardOnHand {
  margin: 10px;
  padding: 5px;
  width: 60px;
  height: 100px;
  background: #24a2b5;
  text-align: center;
  border-radius: 5px;
  border-top: 4px solid #1f94a5;
  border-right: 4px solid #1f94a5;
  transition: all 1s ease;
  box-shadow: 0 0.5px 1px #333; }

.cardOnHand:hover {
  cursor: pointer;
  transform: scale(1.04); }

.cardOnTable_section {
  margin: 0;
  padding: 1% 5%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background: darkgrey; }

.cardOnTable_box {
  position: relative;
  margin: 10px;
  padding: 5px;
  width: 60px;
  height: 100px;
  text-align: center; }

.cardOnTable_box:hover {
  cursor: pointer; }

.pick_card_section {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }

.cards_in_deck {
  margin: 10px;
  padding: 10px;
  width: 60px;
  height: 100px;
  background: beige;
  border-radius: 5px;
  text-align: center;
  align-self: flex-end;
  transition: all 1s ease;
  box-shadow: 0 0.5px 1px #333; }

.cards_in_deck:hover {
  transform: scale(1.04);
  cursor: pointer; }

.cardOnTable_back, .cardOnTable_front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0.5px 1px #333;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s; }

.cardOnTable_front {
  background: #24a2b5; }

.cardOnTable_front:hover {
  background: #1f94a5; }

.cardOnTable_back {
  background-color: beige;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

.cardOnTable_box.effect_click.flipped .cardOnTable_front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

.cardOnTable_box.effect_click.flipped .cardOnTable_back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg); }

.cardOnTable_back, .cardOnTable_front {
  display: none; }

/*# sourceMappingURL=style.css.map */
